{
  "check-coverage": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "exclude": [
    "spec/**"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
    "@babel/register"
  ],
  "cache": true,
  "watermarks": {
    "lines": [ 90, 100 ],
    "functions": [ 90, 100 ],
    "branches": [ 90, 100 ],
    "statements": [ 90, 100 ]
  }
}